<form method="post" action="{{ path('gd_pv_delete', {'id': PV.id}) }}"
      onsubmit="return confirm('Confirmer la suppression du PV :');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ PV.id) }}">
    <button class="btn btn-outline-danger">
        <span class="oi oi-delete"></span> Supprimer
    </button>
</form>