{% extends 'base.html.twig' %}

{% block title %}Nouvelle Fiche{% endblock %}
{% block pageTitle %}Traitement d'antécédents judiciaires{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h3>Nouvelle fiche
                <a href="{{ path('gd_taj') }}" class="btn btn-outline-secondary btn-sm">
                    <span class="oi oi-list"></span> Retour au TAJ</a>
            </h3>
        </div>
    </div>
    {{ include('Crim/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>
    <script>
        let bb = document.querySelector('#colContent').getBoundingClientRect();
        width = bb.right - bb.left;
        $(document).ready(function () {
            $('#criminel_commentaires').summernote({
                height: screen.availHeight * 0.5,
                width: width * 0.9
            });
        });
    </script>
{% endblock %}